@model RegisterViewModel
<head>
    <link href="@Url.Content("~/styles/app.css")" rel="stylesheet" type="text/css" />
</head>
<form asp-controller="Auth" asp-action="Register" method="post">
    <input type="hidden" asp-for="ReturnUrl" />
    <div class="header">Registration</div>
    <div class="block">
        <label>Username</label>
        <input asp-for="Username" class="input" />
        <span asp-validation-for="Username"></span>
    </div>
    <div class="block">
        <label>Password</label>
        <input asp-for="Passwprd" class="input" />
        <span asp-validation-for="Passwprd"></span>
    </div>
    <div class="block">
        <label>Confirm password</label>
        <input asp-for="ConfirmPasswprd" class="input" />
        <span asp-validation-for="ConfirmPasswprd"></span>
    </div>
    <div class="block">
        <button type="submit" class="button">Sign Up</button>
    </div>
    <a asp-controller="Auth" asp-action="Login" asp-route-returnUrl="@Model.ReturnUrl" class="switch-button">Login</a>
</form>