.input {
    font-size: 16px;
    font-family: Arial;
    background-color: #fff;
    width: 100%;
}

.header {
    font-family: Arial;
    color: #2544d9;
    font-size: 30px;
    text-align: center;
}

.button {
    font-size: 16px;
    font-family: Arial;
    background-color: azure;
    border-radius: 4px;
    color: #2544d9;
    width: 100%;
}
.block {
    margin: 0 auto;
    margin-top: 10px;
    width: 250px;
    text-align: center;
}

.switch-button {
    margin-top: 8px;
    font-size: 8px;
    border-radius: 4px;
    color: #2544d9;
    font-family: Arial;
    display: inline-block;
    text-align: center;
    width: 100%;
}